.item {
  /* margin: auto; */
  overflow: hidden;
  min-width: 0;
}

.drinkCountNormal {
  margin: auto;
  color: blue;
}

.drinkCountExceed {
  margin: auto;
  color: red;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 0;
}
