.attendeesContainer {
  margin: auto;
}

.description {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.descriptionTitle {
  margin: auto;
}

.topContainers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drinkList {
  text-align: center;
  font-size: x-large;
}
