.attendeesContainer {
  /* margin: auto; */
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
}

.leftContainer {
  width: 75vw;
  max-width: 75vw;
}
.rightContainer {
  width: 20vw;
  max-width: 20vw;
}

.topContainers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.drinkList {
  margin-bottom: 2vh;
}

.subtitle {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
