.root {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.resisterNewDrink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
